.wrap {
    position: absolute;
    right: 0;
    background-color: rgb(235, 235, 235);
    width: 380px;
    padding: 20px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 10px;
}

.content:hover {
    background-color: azure;
}