.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    transform: scale(0.5);
    opacity: 0.5;
    visibility: hidden;
    transition: all var(--transition-duration, 0.3s) linear;
}

.modal.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}


.container {
    width: 400px;
    margin: 200px auto;
    padding: 20px 40px 20px 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    padding: 5px;
}